/*!
 * CSS for ushort by Moquo
 * Link to the Github-Repo: https://github.com/Moquo/ushort
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: 'Open Sans', sans-serif;
}

/* Navbar */
.navbar {
    margin-bottom: 40px;
}
.nav-light-theme {
    background-color: #f5f6fa !important;
    box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.5);
}
.nav-light-theme .navbar-brand {
    color: #34495e;
    text-shadow: 0px 0px 10px rgba(10, 10, 10, 0.5);
}
.nav-light-theme .navbar-nav .nav-link {
    color: #111;
}

/* Dark container */
.cont-dark {
    background-color: #f5f6fa;
    box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.5);
}

/* Buttons */
.btn-blue {
    color: #fff;
    background-color: #0097e6;
    border-color: #0097e6;
    box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.5);
}
.btn-blue:hover {
    color: #fff;
    background-color: #487eb0;
    border-color: #487eb0;
    box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.5);
}
.btn-blue:focus {
    color: #fff;
    background-color: #273c75;
    border-color: #273c75;
    box-shadow: 0px 0px 0px #000;
}

/* Forms */
.form-text-field {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #353b48;
}
.form-text-field:focus {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #00a8ff;
    box-shadow: none;
}
.form-text-field:invalid {
    box-shadow: none;
    border-bottom: 1px solid #e74c3c;
}